:root {
    --cor-fundo: #e579ed;
    --cor-principal: #5d1651 ;
    --cor-secundaria: #7f609a;
    --cor-destaque: #6715ae;
    --cor-texto: #866ab1;
  }
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
